
.form-container { 
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    display: flex;
    align-items: center!important;
    padding: 20px!important;
    box-shadow: rgb(204 204 204) 0px 0px 5px;
    border-radius: 5px;
}

.form-content {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}