* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal: #064848;
    --cor-complementar: #d8efed;
    --cor-branca: white;
    --cor-preta: black
}


/* ------  HOME ------- */

img {
    width: 100%;
}

.full-width-container,
.col-itself {
    padding: 0;
}

.container-row,
img {
    height: 100vh;
}

.c2 {
    background-color: var(--cor-complementar);
    color: var(--cor-principal);
    padding: 0;
}

.c2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50%;
    margin-left: 10%;
}

.c2-text span {
    font-size: 20px;
}

.c2-text h1 {
    font-size: 60px;
}

.c2-text h4 {
    font-size: 30px;
}

.c2-btn {
    margin-top: 10px;
    margin-left: 10%;
}

/* Dispositivos móveis com largura menor que 576px */
@media (max-width: 575.98px) {

    .container-row,
    img {
        height: 50vh;
    }

    .c2 {
        width: 100%;
        padding-bottom: 20px;
    }

    .c2-text {
        margin-top: 10%;
        margin-left: 5%;
    }

    .c2-text span {
        font-size: 16px;
    }

    .c2-text h1 {
        font-size: 40px;
    }

    .c2-text h4 {
        font-size: 24px;
    }

    .c2-btn {
        margin-top: 5px;
        margin-left: 5%;
    }
}

/* ------ FIM DO HOME ------- */

/* ------ SOBRE ------- */

.sobre-container {
    display: flex;
    flex-direction: row;
    align-items: center;
   
    height: 100vh;
}

.sobre-container-item {
    width: 50%;
    text-align: center;
}

.sobre-um h2 {
    margin-top: 10%;
    margin-bottom: 5%;
}

.sobre-um p {
    margin: auto;
    margin-top: 2%;
    width: 50%;
    text-align: left;
    font-size: 16px;
}

.sobre-img {
    width: 70%;
    height: 60%;
    margin: auto;
    border: 15px solid var(--cor-principal);
    border-radius: 10px;
    border-left: none;
    border-bottom: none;
    transition: 0.5s ease-in-out;
}

.sobre-img:hover {
    border: 15px solid var(--cor-principal);
    border-right: none;
    border-top: none;
    transition: 1s ease-in-out;
}

/* Dispositivos móveis com largura menor que 576px */
@media (max-width: 575px) {
    .sobre-container {
      flex-direction: column;
      padding-top: 80%;
    }
    
    .sobre-container-item {
      width: 100%;
      margin-bottom: 30px;
    }

    .sobre-um h2 {
        font-size: 30px;
    }
    
    .sobre-um p {
        font-size: 13px;
        width: 80%;
    }
    
    .sobre-img {
      width: 90%;
      height: auto;
      padding-bottom: 5%;
    }
    
  }

/* ------ FIM DO SOBRE ------- */