.card-content-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    padding: 5px;
    font-size: 70px;
}

p {
    padding: 5px;
    width: 100%;
    font-size: 20px;
}